body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.User {
  left: 50%;
  top: 260px;
  padding: 20px 30px auto;
}

.Pass {
  left: 50%;
  top: 280px;
}

.Autor {
  left: 50%;
  width: 27.2%;
  top: 300px;
}